@use 'base/variables' as v;
@use 'base/mixins' as m;

.grupos{
    background-image: linear-gradient(to bottom, v.$primario 0%, v.$primario 50%, v.$secundario 50%);
    @include m.tablet { 
        background-image: linear-gradient(to right, v.$primario 0%, v.$primario 50%, v.$secundario 50%);
    }

    &__grid{
        display: flex;
        flex-direction: column;
        @include m.tablet { 
            flex-direction: row;
        }
    }

    &__bloque{
        padding: 5rem 2rem;
        text-align: center;
        @include m.tablet { 
            text-align: left;
        }
    }

    &__heading,
    &__texto{
        color: v.$blanco;
    }

    &__heading{
        font-weight: 700;
        font-size: 3rem;
    }

    &__texto{
        font-size: 2.4rem;
    }
}